/* general styl */
:root {
  /* dark mode variables */
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #e2e2e2;
  --dark-text: #f8fbff;
  --dark-btn: #131420;

  /* light mode variables */
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #ff9100;

  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  place-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-body);
  

}
.contianer {
  width: max-content;
  height: max-content;
  position: relative;
  display: flex;
  padding: 2% 0px 0px 0px;
  justify-content: center;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

/* calendar style */
.calendar {

  height: 610px;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 50px 0px 50px;
}
.calendar {
  box-shadow: var(--shadow);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--color-txt);
  padding: 10px;
}
.calendar-body {
  pad: 10px;
}
.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color:rgb(104, 104, 104);
}
.calendar-week-days div:hover {
color:black;
transform: scale(1.2);
transition: all .2s ease-in-out;
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
  height: 50px;
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}
.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.month-picker:hover {
  background-color: var(--color-hover);
}
.month-picker:hover {
  color: var(--color-txt);
}
.year-picker {
  display: flex;
  align-items: center;
}
.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.year-change:hover {
  
  background-color: var(--light-btn);
  transition:all .2s ease-in-out ;
  transform: scale(1.12);
}
.year-change:hover pre {
  color: var(--bg-body);
}
.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#year:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}
.calendar-days div span {
  position: absolute;
}
 .calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: rgb(240, 88, 0);
  border-radius: 20%;
  color: var(--dark-text);
}


/* events style */

.event {
  height: 610px;
  width: 42%;
  background-color: var(--bg-main);
  border-radius: 25px;
  overflow: hidden;

  display: inline-flex;
  font-family: var(--font-family);
  justify-content: center;
  position: inherit;
}
.event {
  box-shadow: var(--shadow);
  padding: 5px 0px 20px 0px;
}
.event-body {
  height: max-content;
  width: max-content;

}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-txt);
  padding: 5px 10px;
  margin: 5px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position:sticky;

}
.event-logo:hover {
  transform: scale(0.95);
  transition: 0.2s ease-in-out;
  cursor: pointer;

}
.event-itme-container{
  margin-top: 20px;
  overflow-y: scroll;
  display: block;
  height: 570px;
}
.add-new-event-btn {
  font-size: 1.3rem;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--light-btn);
  color: var(--light-main);
  padding: 0px 10px 5px 10px;
  height: max-content;
}
.add-new-event-btn span {
  font-size: 1.6rem;
}
.add-new-event-btn:hover {
  color: var(--light-text);
  background-color: var(--light-hover);
  transform: scale(0.95);
  transition: 0.2s ease-in-out;
}
.add-new-event-btn:hover span {
  color: rgb(255, 111, 0);
}
/* event body style */
.event-items {
  border-radius: 20px;
  border: 1px solid rgb(241, 241, 241);
  width: max-content;
  height: max-content;
  margin: 5px 10px 5px 15px;
  padding: 5px 5px;
  align-items: right;
  cursor: pointer;
  display: block;
  z-index: 0;
  animation: to-top 1s ;
  transition: all .4s ease-in-out;
}

.event-items:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
}

.event-items:hover .event-item-color {
  background-color: var(--light-btn);
}

.event-item-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: var(--light-man);
  border: 2px solid rgb(240, 120, 0);
  border-radius: 50%;
  margin: 0 3px;
}
.event-item-title {
  font-size: 1.2rem;
  display: inline-flex;
  width: 13rem;
}
.event-item-edit{
  color: var(--light-text);
  cursor: pointer;
}
.event-item-edit:hover{
  font-size: 1.2rem;
  color: #ff9100;
}
.event-item-delete{
  color: var(--light-text);
  cursor: pointer;
  font-size: .8rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.event-item-delete:hover{
  font-size: 0.9rem;
  color: #d80000;
}
.event-item-text {
  font-size: 0.73rem;
  margin-left: 40px;
  height: max-content;
  justify-content: left;
  width: 260px;
  margin-bottom: 10px;
}
.event-item-date {
  font-size: 0.8rem;
  margin-left: 40px;
  height: max-content;
  align-content: center;
  margin-top: 8px;
}
.event-item-date{
margin: 0%;
font-size: .8rem;
margin-left: 40px;
}
.calendar-days div.current-date {
  color: var(--dark-text);

  background-color: var(--light-btn);
  border-radius: 20%;
}
.month-list {
  position: relative;
  left: 0;
  top: -50px;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}
.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}
.month-list > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.month-list > div > div:hover {
  background-color:var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}
.month-list.hideonce{
  visibility: hidden;
}
.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}

/* date and time show formate */
.date-time-formate {
  width: max-content;
  height: max-content;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: inline;
  top: 140px;
  justify-content: center;
}
.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 2.5rem;
  padding-right: 5%;
  border-right: 2px solid orangered;
  position: absolute;
  left: -1rem;
}
.date-time-value {
  display: block;
  height: max-content;
  width: max-content;
  position: relative;
  left: 50%;
  top: -30px;
  text-align: center;
}

.time-formate {
  font-size: 2.2rem;
}

.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.hidetime {

  animation: hidetime 1.5s forwards;
}
.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.showtime{
  animation: showtime 1s forwards;
}
.time-formate.showtime {
  animation: showtime 1s forwards;
}
.date-formate.showtime {
  animation: showtime 1s forwards;
}


/* new event window */
.new-event{
  height: max-content;
  width: max-content;
  position:absolute;
  display: inline;
  background-color: rgb(250, 250, 250);
  box-shadow: var(--shadow);
  top: -110%;
  left: 0px;
  justify-content: center;
  padding: 0px 5px 50px 5px;
border-radius: 20px;
}
.new-event-header{
position: relative;
top: 20px;
left: 30px;
justify-content: center;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: var(--light-btn);

}
.title-text{
  font-size: 1.6rem;
  font-family: Dubai Light, Century Gothic;
  display: inline-block;
  width: 430px;
}
.close-btn{
  display: inline-block;
  font-size: 1.8rem;
  padding: 2px;
 text-align: left;
 cursor: pointer;
  
}
.close-btn:hover
{
  cursor: pointer;
  transform: scale(1.2);
  transition: .3 ease-in-out;
}
.new-event-body{
padding: 5px;
margin: 50px 5px;
}


/* CREATE NEW EVENT */

.new-event-body{
display: grid;
font-size: 1.2rem;

}
.new-event-body >input,textarea,label {
margin: 2px;
padding: 4px;
font-family:Dubai Light, Century Gothic;
}

.new-event-date-time
{
  display: grid;
  grid-template-columns: repeat(3,auto);
}
.new-event-date-time >input,select
{

padding: 4px;
font-family:Dubai Light, Century Gothic;
margin: 10px 5;
}
.new-event-btn-container{
  width: 32rem;
  display: flex;
  justify-content: end;
}
.new-event-btn{
  padding:10px  15px;
  border-radius: 15px;
  border: none;
  background-color: var(--light-btn);
  font-family: 400;
  margin-right: 10px;


}
.new-event-btn:hover{
  transform: scale(1.012);
  background-color: rgb(238, 111, 8);
  
  transition: .2s ease-in-out;


}
/* new event for animation */
.new-event.showNewEventForm{
  animation: 1s event-to-bottom forwards;
  top:0%;
}
.new-event.hideNewEventForm{
  animation: 1s event-to-top forwards;
}

/* keyframes for calendar and timer */
@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-130%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-350%);
    opacity: 1;
  }
}


/* keyframes for new event form */
@keyframes event-to-top {
  0%{
    transform:translateY(0%) ;
    opacity: 1;
    top:0%;
  }
 100%{
    transform: translateY(-90%);
    opacity: 1;
  }
}
@keyframes event-to-bottom {
  0%{
    transform:translateY(-100%) ;
    opacity: 1;
    top:-90%;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
